#home {
   
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url('../imgs/bg.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}



#presentation{
    background-color: rgba(0, 0, 0, 0.82);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
}

#title-home {
    background-color: rgba(250, 235, 215, 0.452);
    padding:1rem 2rem;
    color:none;
    font-size: 5rem;
}

#text-pres {
    color:rgb(216, 216, 216);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
}

#link-to-products {
    text-decoration: none;
    border-radius: 25px;
    color:rgba(243, 243, 243, 0.911);
    padding:0.5rem 3rem;
    font-size: 1.5rem;
    text-align: center;
}

#link-to-products:hover{
    color:antiquewhite;

}


@media (width <= 700px){
    #home {
        background-image: url('../imgs/bg-mobile.jpg');
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #title-home {
        font-size: 3rem;
    }

 
}


  