.text-item{
    background-color: rgb(252, 252, 252);
    height:200px;
    width:100%;
    position:relative;
}

.close-btn-dashboard{
    position: absolute;
    right:.5rem;
    top:.5rem;
    height:30px;
    width: 30px;
}

@media (width <= 900px) {
    .text-item{
        z-index:2000;
        position:absolute;
        top:0;
        left:0;
        height:100%;
    }
}