.ModalCar {
    position: fixed;
    z-index:300;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height:80%;
    background-color: rgb(245, 242, 242);
    color:black;
    
    
    box-shadow: 24;

}
