

.modal-body {
    display:flex;
    align-items: center;
    justify-content: center;

}



.btn-close{
 background-color: rgb(255, 255, 255);
 position:fixed;
 z-index:500;
 top:1rem;
 right:1rem;
 padding:.5rem;
}

.carousel-indicators button {
    background-color: rgb(205, 171, 126) !important;
}

@media (width <= 1270px) {

    .modal-body {
        flex-direction: column;
        
    }
    
}

@media (width <= 900px) {

    .modal-body {
        padding:0;
        justify-content: flex-start;
        
    }
    
}