.Products {
    width:100%;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(13, 14, 15);
    color:antiquewhite;
    padding-bottom:3rem;
}

.cars {
    display: flex;
    padding:1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.title-cars-container{
    background: url('../imgs/bg-cars.jpg') no-repeat fixed;
    background-size: cover;
    background-position:bottom ;
    width:100%;
    height:300px;
}

.title-cars{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100%;
    background-color: rgba(6, 6, 6, 0.813);
    
}


@media (width <= 700px){
    .cars {
        padding:0;

    } 

    .title-cars-container{
        background: url('../imgs/bg-cars-mobile.jpg') scroll;
        background-position:center ;
       
    }
}